*{
  box-sizing: border-box;
}
#pagina{
  position: relative;
  border-radius: 10px;
  border: 1px solid silver;
  margin: 0px auto 0px;
  width: 950px;
  height: 700px;
  background-color: white
}
.principal{
  position: absolute;
  border-radius: 10px;
  width: 900px;
  height: 665px;
  background-color: #f0f0f0;
  border: 0,2px solid silver;
  margin: 25px 25px 25px 25px
}
#cadastro{
   position: absolute;
   margin: 45px 50px 50px 692px ;
   text-align: center;
   font-family: fantasy;
   color: black;
   text-decoration: none;
}
#camiseta{
  position: absolute;
  margin: 5px 0px 0px 20px;
  height: 20px;
  width: 20px
}
#agulha{
  position: absolute;
  margin: 2px 0px 0px 189px;
  height: 30px;
  width: 20px
}
.contornocadastro{
  position: absolute;
  width: 160px;
  height: 100px;
  border-radius: 35px;
  border: 1.5px solid red;
  margin: 37.5px 0px 0px 656.5px
}
#instagram{
 position: absolute;
 width: 30px;
 height: 30px;
 margin: 80px 30px 50px 65px
}
#facebook{
  position: absolute;
  width: 45px;
  height: 45px;
  margin: 71px 30px 50px 18px
}
#twitter{
  position: absolute;
  width: 35px;
  height: 35px;
  margin: 77px 30px 50px 102px
}
.acesseredes{
    margin: -445px 0px 0px 25px
}
#anuncio{
    margin: 407px 0px 0px 0px;
    text-align: center;
    font-size: 25px;
    height: 35px;
}
#anuncio:hover{
  margin:390px 0px 0px 50px;
  text-align: center;
  width: 750px;
  height: 50px;
  background-color: #ff4040;
  border-radius:50px;
  color: white;
  font-size: 40px
}
.opcoes{
  border-radius: 50px;
  position: relative;
  background-color: red;
  height: 30px;
  width: 770px;
  margin: 180px 60px 50px 60px;
}
#opcaocamiseta{
  color: white;
  position: absolute;
  margin: -8px 0px 5px 45px;
}
.blusa{
  color: white;
  text-decoration: none;
}
#opcaobordado{
  color: white;
  position: absolute;
   margin: -8px 0px 5px 210px
}
#opcaodepoimento{
  position: absolute;
  margin: -8px 0px 5px 450px
}
#depoimentooption{
  color: white;
}
#bordadosfeitos{
  position: absolute;
  background-color: #f0f0f0;
  border: solid red;
  border-radius: 15px;
  width: 260px;
  height: 155px;
  margin: 10px 50px 0px 140px
}
#bordadosfeitos:hover{
  border: 4px solid red;
}
.modelos{
  position: relative;
  border: 1px solid #f0f0f0;
  margin: 50px 50px 0px 500px;
  width: 260px;
  height: 165px;
  background-color: #f0f0f0

}
#caixa1{
  position: absolute;
  background-color: #f0f0f0;
  border: 2px solid black;
  border-radius: 10px;
  width: 75px;
  height: 75px;
  margin: 10px 10px 10px 10px
}
#caixa1:hover{
  border: 2px solid red;
}
#caixa2{
  position: absolute;
  background-color: #f0f0f0;
  border: 2px solid black;
  border-radius: 10px;
  width: 75px;
  height: 75px;
  margin: 10px 80px 50px 90px
}
#caixa2:hover{
  border: 2px solid red;
}
#caixa3{
  position: absolute;
  background-color: #f0f0f0;
  border: 2px solid black;
  border-radius: 10px;
  width: 75px;
  height: 75px;
  margin: 10px 80px 50px 170px
}
#caixa3:hover{
  border: 2px solid red;
}
#caixa4{
  position: absolute;
  background-color: #f0f0f0;
  border: 2px solid black;
  border-radius: 10px;
  width: 75px;
  height: 75px;
  margin: 88px 10px 50px 10px
}
#caixa4:hover{
  border: 2px solid red;
}
#caixa5{
  position: absolute;
  background-color: #f0f0f0;
  border: 2px solid black;
  border-radius: 10px;
  width: 75px;
  height: 75px;
  margin: 88px 10px 10px 90px
}
#caixa5:hover{
  border: 2px solid red;
}
#caixa6{
  position: absolute;
  background-color: #f0f0f0;
  border: 2px solid black;
  border-radius: 10px;
  width: 75px;
  height: 75px;
  margin: 88px 10px 10px 170px
}
#caixa6:hover{
  border: 2px solid red;
}
.dadosempresa{
 border-radius: 40px;
 position: absolute;
 background-color: red;
 width: 700px;
 height: 100px;
 margin: 55px 100px 100px 100px
}
.dadosempresac{
border-radius: 40px;
 position: absolute;
 background-color: red;
 width: 700px;
 height: 100px;
 margin: 250px 100px 100px 100px
}
#logo{
  position: absolute;
  width: 150px;
  height: 150px;
  margin: -445px 80px 100px 340px
}
.pagcadastro{
  position: relative;
  border-radius: 10px;
  border: 1px solid red;
  margin: 0px auto 0px;
  width: 900px;
  height: 750px;
  background-color: white
}
#telacadastro{
  position: absolute;
  width: 848px;
  height: 690px;
  background-color: #f0f0f0;
  border-radius:10px;
  margin: 25px 25px 25px 25px
}
.requisitocadastro{
  margin-left: 30px
}
.requisitoslogin{
  margin-left: 30px;
  height: 200px;
  width: 800px
}
.anunciologin{
  background-color: red;
  position: absolute;
  width: 500px;
  height: 25px;
  margin: 20px 0px 0px 180px;
  border-radius: 50px
}
.anunciocadastro{
  background-color: red;
  position: absolute;
  width: 500px;
  height: 25px;
  margin: 190px 0px 0px 150px;
  border-radius: 50px
}
#loginconta{
  position: absolute;
  text-align: center;
  color: white;
  margin: -13px 0px 0px 200px
}
#cadastroconta{
 position: absolute;
 text-align: center;
 color: white;
 margin: -13px 0px 0px 120px
}
#logocadastro{
  position: absolute;
  margin: 50px 0px 0px 335px;
}
#logovenda1{
  position: absolute;
  width: 150px;
  height: 150px;
  margin: -455px 80px 100px 320px
}
#logovenda2{
  position: absolute;
  width: 150px;
  height: 150px;
  margin: -455px 80px 100px 320px
}
#logovenda3{
  position: absolute;
  width: 150px;
  height: 150px;
  margin: -455px 80px 100px 320px
}
#logovenda4{
  position: absolute;
  width: 150px;
  height: 150px;
  margin: -455px 80px 100px 320px
}
#logovenda5{
  position: absolute;
  width: 150px;
  height: 150px;
  margin: -455px 80px 100px 320px
}
#logovenda6{
  position: absolute;
  width: 150px;
  height: 150px;
  margin: -455px 80px 100px 320px
}
.voltarinicio{
  position: absolute;
  margin: 60px 50px 50px 340px ;
  text-align: center;
  font-size: 20px;
  color: black;
  text-decoration: none;
}
#lupa{
  position: absolute;
  margin: 5px 0px 0px 745px ;
  width: 20px;
  height: 20px;
}
#table1{
  position: absolute;
  width: 190px;
  height: 250px;
  margin: -25px 0px 0px 40px;
  border: 1px solid black;
  border-radius: 10px
}
#table1:hover{
  border: 2px solid red;
}
#table2{
  position: absolute;
  width: 190px;
  height: 250px;
  margin: -25px 0px 0px 250px;
  border: 2px solid black;
  border-radius: 10px
}
#table2:hover{
  border: 2px solid red;
}
#table3{
position: absolute;
width: 190px;
height: 250px;
margin: -25px 0px 0px 460px;
border: 2px solid black;
border-radius: 10px
}
#table3:hover{
  border: 2px solid red;
}
#table4{
  position: absolute;
  width: 190px;
  height: 250px;
  margin: -25px 0px 0px 670px;
  border: 2px solid black;
  border-radius: 10px
}
#table4:hover{
  border: 2px solid red;
}
#camisa1{
  position: absolute;
  width: 187px;
  height: 247px;
  margin: 0px 0px 0px 0px;
  border-radius: 10px
}
#camisa2{
  position: absolute;
  width: 187px;
  height: 247px;
  margin: 0px 0px 0px 0px;
  border-radius: 10px
}
#informacao{
  text-align: center;
  color: white
}
#camisa3{
  position: absolute;
  width: 187px;
  height: 247px;
  margin: 0px 0px 0px 0px;
  border-radius: 10px
}
#camisa4{
  position: absolute;
  width: 187px;
  height: 247px;
  margin: 0px 0px 0px 0px;
  border-radius: 10px
}
#imagembordados{
  position: absolute;
  width: 254px;
  height: 149px;
  margin: 0px 0px 0px 0px ;
  border-radius: 12px
}
#caixacamisa1{
  position: absolute;
  width: 71px;
  height: 71px;
  margin: 0px 0px 0px 0px ;
  border-radius: 5px
}
#caixacamisa2{
  position: absolute;
  width: 71px;
  height: 71px;
  margin: 0px 0px 0px 0px ;
  border-radius: 5px
}
#caixacamisa3{
  position: absolute;
  width: 71px;
  height: 71px;
  margin: 0px 0px 0px 0px ;
  border-radius: 5px
}
#caixacamisa4{
  position: absolute;
  width: 71px;
  height: 71px;
  margin: 0px 0px 0px 0px ;
  border-radius: 5px
}
#caixacamisa5{
  position: absolute;
  width: 71px;
  height: 71px;
  margin: 0px 0px 0px 0px ;
  border-radius: 5px
}
#caixacamisa6{
  position: absolute;
  width: 71px;
  height: 71px;
  margin: 0px 0px 0px 0px ;
  border-radius: 5px
}
#blusaflorida{
  text-align: center;
  position: absolute;
  margin: 230px 0px 0px 85px
}
#blusamangalonga{
  text-align: center;
  position: absolute;
  margin: 230px 0px 0px 249px
}
#cropped{
  text-align: center;
  position: absolute;
  margin: 230px 0px 0px 523px
}
#blusarosa{
  text-align: center;
  position: absolute;
  margin: 230px 0px 0px 715px
}
.camisa1borda{
position: absolute;
background-color: #f0f0f0;
border: solid red;
border-radius: 15px;
width: 280px;
height: 280px;
margin: 60px 50px 0px 40px
}
#acesseredes1{
  margin: -460px 0px 0px 25px
}
#camisa1foto{
border-radius: 10px;
height: 273.5px;
width: 274.5px
}
.preçoscamisa1{
  position: absolute;
  margin: 130px 0px 0px 400px;
  width: 480px;
  height: 330px;
}
#nomecamisa{
  margin: 10px 0px 0px 0px;
  text-align: center;
  font-size: 40px;
  font-family: cursive;
}
#anunciocartao{
  font-size: 13px;
  text-align: center;
  margin: 5px 0px 0px 0px;
  font-family:cursive;
}
#preço1{
  margin: 5px 0px 0px 0px;
  text-align: center;
  font-size: 50px;
}
.cartoes{
  position: absolute;
  margin: 3px 0px 0px 40px;
  border-radius: 50px;
  border: 1px solid red;
  height: 30px;
  width: 400px;
}
.cartoes:hover{
  background-color: #ff4040;
  color: white
}
#mastercardicone{
  position: absolute;
   margin: 2.5px 0px 0px 0px;
   height: 23px ;
   width: 40px;
   border-radius: 50px;
}
.cartoes2{
  position: absolute;
  margin: 34px 0px 0px 40px;
  border-radius: 50px;
  border: 1px solid red;
  height: 30px;
  width: 400px;
}
.cartoes2:hover{
  background-color: #ff4040;
  color: white
}
#visaicone{
  position: absolute;
   margin: 2.5px 0px 0px 0px;
   height: 20px ;
   width: 35px;
   border-radius: 4px;
}
.cartoes3{
  position: absolute;
  margin: 65px 0px 0px 40px;
  border-radius: 50px;
  border: 1px solid red;
  height: 30px;
  width: 400px;
}
.cartoes3:hover{
  background-color: #ff4040;
  color: white
}
#boletoicone{
   position: absolute;
   margin: -25px 0px 0px -20px;
   height: 80px ;
   width: 80px;
}
#cartaomaster{
  position: absolute;
  text-align: center;
  margin: 5px 0px 0px 125px;
}
#cartaovisa{
  position: absolute;
  text-align: center;
  margin: 5px 0px 0px 150px
}
#boletobancario{
  position: absolute;
  text-align: center;
  margin: 5px 0px 0px 135px
}
#bordadoaopcao{
  color: white;
}
.upload{
   position: absolute;
   border: 2px solid red;
   border-radius: 80px;
   margin: -30px 0px 0px 150px;
   width: 225px;
   height: 225px;
}
#dadosempresa{
  position: absolute;
  border-radius: 40px;
  background-color: red;
  width: 700px;
  height: 100px;
  margin: 500px 100px 100px 100px
}
#logobord{
  position: absolute;
  margin: 60px 0px 0px 365px
}
.design{
  position: absolute;
  border: 2px solid red;
  border-radius: 30px;
  margin: -9px 0px 0px 510px;
  width: 230px;
  height: 180px;
}
#contatodesign{
  text-align: center;
  margin: 20px 0px 0px 0px;
  font-family: cursive;
  font-size: 13px;
}
#endedesign{
  font-size: 13px;
  margin: 25px 0px 0px 10px;

}
#uploadbordados{
  text-align: center;
  font-family: cursive;
  font-size: 15px;
  margin: 30px 0px 0px 0px
}
#imgupload{
  position: absolute;
  margin: 85px 0px 0px 50px;
  height: 110px;
  width: 120px
}
.botaobordado{
  color: white;
  text-decoration: none;
}
#comprasucedida{
  text-align: center;
  font-size: 50px;
  margin: 40px 0px 0px 0px;
  color: white;
}
body{
  background-color: #ff4040;
}
.botaovoltarinicio{
  border-radius: 200px;
  border: 2px solid white;
  width: 200px;
  height: 130px;
  margin: 30px 0px 0px 450px
}
.botaovoltarroupas{
  border-radius: 200px;
  border: 2px solid white;
  width: 200px;
  height: 130px;
  margin: -130px 0px 0px 700px
}
#voltar{
  text-align: center;
  color: white;
  font-size: 18px;
  text-decoration: none;
  margin: 50px 0px 0px 0px;
font-family: cursive;
}
#voltarinicio{
  text-align: center;
  color: white;
  font-size: 18px;
  text-decoration: none;
  margin: 35px 0px 0px 0px;
  font-family: cursive;
}
#logocompra{
  border-radius: 100px;
  margin: 100px 0px 0px 550px;
  width: 250px;
  height: 150px;
}
.botaocomprar{
  width: 130px;
  height: 60px;
  margin: -60px 0px 0px 65px;
  border: 2px solid red;
  border-radius: 10px;
  background-color: #ff4040;
}
.botaocomprar:hover{
  border: 3px solid red;
  background-color: #ff4040;
}
#botaocompra{
   text-align: center;
   color: white;
}
.imagemcomentariocontorno{
  margin: 157px 0px 0px 100px;
  width: 700px;
  height: 280px;
  border-radius: 10px;
}
#comentarios1{
  border-radius: 10px;
  width: 770px;
  height: 270px;
  margin: 0px 0px 0px -35px
}
#logocomentario{
  margin: -470px 0px 0px 340px;
  width: 100px;
  height: 100px
}
#nomecadastro{
  border-radius: 10px;
  margin: 0px 0px 0px 205px;
  width: 400px;
  font-family: cursive
}
#emailcadastro{
  border-radius: 10px;
  margin: 0px 0px 0px 205px;
  width: 400px;
  font-family: cursive
}
#emailcadastro{
  border-radius: 10px;
  margin: 0px 0px 0px 205px;
  width: 400px;
  font-family: cursive
}
#senhacadastro{
  border-radius: 10px;
  margin: 0px 0px 0px 205px;
  width: 400px;
  font-family: cursive
}
#confirmesenhacadastro{
  border-radius: 10px;
  margin: 0px 0px 0px 205px;
  width: 400px;
  font-family: cursive
}
#botacadastro{
 margin: 0px 0px 0px 360px;
 width: 80px;
 height: 40px;
 border: 1px solid red;
 border-radius: 10px;
}
#emaillogin{
  margin: 65px 0px 0px 200px;
  width: 400px;
  font-family: cursive;
  border-radius: 10px
}
#senhalogin{
  margin: 0px 0px 0px 200px;
  width: 400px;
  font-family: cursive;
  border-radius: 10px
}
#botaologar{
  margin: 3px 0px 0px 363px;
  width: 70px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid red
}
#calculofrete{
margin: 120px 0px 0px 230px;
height: 50px;
width: 150px;
border-radius: 10px;
text-align: center;
font-size: 15px;
font-family: cursive
}
.cep{
  border: 1px solid red;
  width: 100px;
  height: 50px;
  margin: -50px 0px 0px 390px;
  border-radius: 10px;
  text-align: center;
  font-family: cursive;
  font-size: 15px;
  background-color: #ff4040
}
.cep:hover{
border: 2px solid red
}
#cep1{
  margin: 0px 0px 0px 0px;
  color: white;
}
